- var page = {};
- function giveHereClass(target){return page.name == target ? 'here' : null}
block var
doctype
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css")
        link(href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="/css/#{page.name}.css")
        link(rel="stylesheet" href="/css/base.css")
        title SIT e-Sports Club | #{page.title}
    body
        div#wrapper
            header
                div.title
                    h1 SEC
                    h2 SIT e-Sports Club
                div.link
                    a(href="https://twitter.com/sitesportsclub" target="_blank")
                        i.fa.fa-fw.fa-twitter
            nav
                ul
                    li: a(href="/" class=giveHereClass('index')) TOP
                    li: a(href="/activity.html" class=giveHereClass('activity')) ACTIVITY
                    li: a(href="/member.html" class=giveHereClass('member')) MEMBER
            block contents
            footer
                i.fa.fa-fw.fa-copyright
                span SEC
